.galeria{
    text-align: center;
    
  }
  .grid {
    justify-content: center;
    display: grid;   
    grid-template-columns: repeat(8,100px) ;
    grid-template-rows: repeat(6,100px) ;
    overflow: hidden;
    .ga {
    
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      transition: all 1s;
    }
    .ga:hover {
      transform: scale(1.1,1.1);
    }
      
    .gb {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
      transition: all 1s;
    }
    .gb:hover {
      transform: scale(1.1,1.1);
    }

    .gc {
      grid-column-start: 6;
      grid-column-end: 8;
      grid-row-start: 1;
      grid-row-end: 4;
      transition: all 1s;
    }
    .gc:hover {
      transform: scale(1.1,1.1);
    }

    .gd {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 6;
      transition: all 1s;
    }
    .gd:hover {
      transform: scale(1.1,1.1);
    }
    
    .ge {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 4;
      grid-row-end: 6;
      transition: all 1s;
    }
    .ge:hover {
      transform: scale(1.1,1.1);
    }
    
    .gf {
      grid-column-start: 6;
      grid-column-end: 8;
      grid-row-start: 5;
      grid-row-end: 6;
      transition: all 1s;
    }
    .gf:hover {
      transform: scale(1.1,1.1);
    }

    .monumentos{
      height: 300px;
      width: 200px;
    }
    .paisajes{
      height: 300px;
      width: 300px;
    }
    .gente{
      height: 400px;
      width: 300px;
    }
    .arte{
      height: 300px;
      width: 300px;
    }
    .lugares{
      height: 300px;
      width: 200px;
    }
    .ustedes{
      height: 200px;
      width: 300px;
    }
    
  
  }
  
 