
  header {
    position: sticky;
    top: 0;
    background-color: $azul;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: $verde-medio;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    z-index: 1;
    .navbar{
      padding: 0;
      margin: 0;
      color: $azul;

      ul{
        display: flex;
        flex-direction:column;
        align-items: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #3F7E8C;
        font-style: initial;
      
        li a {
          display: block;
          color: white;
          text-align: center;
          padding: 0px;
          text-decoration: none;
          font-size: small;
        }

        li a:hover {
          background-color: #0D0D0D;
          border-radius: 5px;
          border-width: 2px;

          a{
            font-family: 'Roboto', sans-serif;
            /*color: white;*/
          }
      
        }

        #enlace{
          color: white;
          font-style: italic;
        }
      }
    }

    .logo{
      justify-content: flex-start;
      height: 100px;
    }
  }
 
  


  