@media screen and (max-width: 480px) {
    
  .grid{
    display: block;
    }
    .barra{
      flex-direction: column;
      justify-items: auto;
    }
  .galeria-main {
      height: 2500px;
    }
    #galeria-img{
      width: 300px;
      height: 500px;
    }
    .form-itinerario{
      display: block;
    }

header{
  .navbar{
    ul{
      display: block;
    }
    
  }
    
}
  
  }